body{
background: #81d8d0;;
font: normal 15px Arial ;
}
header{
    background: #d198d9;
    text-align: center;
    color: black;
}
section{
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
#div1{
    background:#a8d977;
    font-size: large;
    text-align: center;
}
#div2{
    background: #d9bd0b;
    font-size: large;
    text-align: center;
}
footer{
background:#968dd9;
text-align: center;
font-style: italic;
color: black;
}
